@import "../styles/mixins.scss";
@import "../styles/variables.scss";
@import "../styles/animations.scss";
@import "~bulma/css/bulma.css";
//@import "../node_modules/compass-mixins/lib/compass/css3/";

@font-face {
  font-family: "Bebas_Neue";
  src: url(../styles/fonts/BebasNeue-Regular.ttf);
}
@font-face {
  font-family: "Quicksand";
  src: url(../styles/fonts/Quicksand-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Montserrat";
  src: url(../styles/fonts/Montserrat-VariableFont_wght.ttf);
}

//      GENERAL          //

body {
  overflow-x: hidden;
  margin: 0;
}
li {
  list-style-type: none;
}
li a {
  color: #3d3c3d;
  font-size: 1.2rem;
}
li,
p {
  font-family: "Montserrat";
}
h1 {
  @media screen and (max-width: 445px) {
    text-align: center;
  }
}
h3 {
  font-family: "Quicksand";
}
#lowResH1 {
  text-align: center;
}

//      APP.VUE           //

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//     MAINTENANCE       //

.maintenance_message h2 {
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  margin: 30px;
}
.maintenance_message p {
  margin-left: 30px;
}
.maintenance_message p:nth-of-type(2) {
  padding-top: 20px;
  font-style: italic;
}

//     HEADER.VUE        //

.navbar {
  align-items: center;
  background-color: #c0c4c2;
  min-height: 6.25rem;
  position: fixed; /* Rendre la navbar fixe */
  top: 0; /* La positionner en haut */
  width: 100%; /* Occuper toute la largeur de l'écran */
  @media screen and (max-width: 768px) {
    position: static;
  }
}

.navbar-item {
  position: relative;
  flex-direction: column;
  font-family: "Bebas_Neue";
  font-size: 1.4rem;
}

.navbar-item img {
  max-height: 4.75rem;
}

.navbar-item_contact {
  flex-direction: row;
}

.navbar-item_contact i {
  padding-right: 10px;
}

.navbar-item img:nth-of-type(2) {
  margin-top: 5px;
  max-height: 0.75rem;
  width: 83%;
  @media screen and (min-width: 730px) and (max-width: 1023px) {
    width: 20%;
  }
  @media screen and (max-width: 729px) {
    width: 35%;
  }
}

.navbar-item_title {
  margin-right: auto;
  margin-left: auto;
}

.navbar-brand {
  flex-direction: column;
  min-height: 5.25rem;
  &__a {
    text-decoration: none;
  }
}

@media screen and (min-width: 1024px) {
  .navbar-dropdown a.navbar-item {
    padding-right: 1.3rem;
  }
  .navbar-menu {
    flex-grow: 1;
    flex-shrink: 1;
  }
}

.navbar-menu {
  align-items: center;
  width: 100%; /* Assurer que le menu occupe toute la largeur */
}

.navbar-burger {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar-burger {
    display: block;
  }

  .navbar-menu {
    display: none;
  }

  .navbar-menu.is-active {
    display: block;
  }

  .navbar-start,
  .navbar-end {
    flex-direction: column;
    width: 100%;
  }

  .navbar-item {
    width: 100%;
  }
}

#btn-inscription {
  background-color: #267a89;
}

.displayHr {
  border-top: 2px solid #267a89;
  width: 20%;
}

.hoverEffect p {
  margin-right: 50px;
  font-family: "Bebas_Neue";
  font-size: x-large;
}

//     FOOTER.VUE        //

.footer {
  z-index: 2;
  background-color: #c0c4c2 !important;
}
@media screen and (max-width: 799px) {
  .footer {
    margin-bottom: 50px;
  }
}
.column {
  padding: 1.2rem;
  @media screen and (min-width: 1024px) {
    .column {
      margin-top: 50px;
    }
  }
}
.content h4 {
  margin-left: 25px;
}
.copyright {
  @include fixedBottom;
  padding: 1.2em;
  background-color: #267a89;
}
#linkedin {
  font-size: 25px;
  color: #fff;
}
#mail_icon {
  color: #fff;
  font-size: 25px;
  margin-left: 30px;
}
.columns .has-text-right {
  margin-right: 50px;
}

//     HOME.VUE        //

.hero {
  position: relative;
  z-index: 1;
  color: #fff;
  background: $blue_background;
  background-color: #000;
}
.hero.is-medium .hero-body {
  padding: 2rem 4.5rem;
  @media screen and (max-width: 475px) {
    padding: 1.5rem 1.5rem;
  }
}
.hero-body {
  margin-top: 10rem;
  @media screen and (max-width: 768px) {
    margin-top: 1rem;
  }
}

.hero-body h1 {
  font-size: 3em;
}
.title {
  margin-top: 40px;
  text-align: center;
  color: #fff;
  font-family: "Quicksand";
}
.title:not(:last-child) {
  margin-bottom: 7rem;
}
.container {
  display: flex;
  justify-content: space-evenly;
  @media screen and (max-width: 769px) {
    justify-content: center;
  }
}
#firstParagraph:first-letter,
#secondParagraph:first-letter,
#thirdParagraph:first-letter,
#fourthParagraph:first-letter,
#fifthParagraph:first-letter,
#sixthParagraph:first-letter {
  font-size: 30px;
  color: #30616a;
}
.container_certification {
  flex-direction: column;
  font-weight: 600;
  &__flex-left {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  &__flex-right {
    text-align: left;
    padding: 3rem;
    background-color: #c0c4c2;
    box-shadow: rgba(96, 107, 107, 0.4) -5px 5px,
      rgba(41, 43, 43, 0.3) -10px 10px, rgba(24, 23, 23, 0.2) -15px 15px,
      rgba(20, 20, 20, 0.1) -20px 20px, rgba(3, 3, 3, 0.05) -25px 25px;
    @media screen and (max-width: 769px) {
      font-size: 0.9rem;
      padding: 1.1rem;
    }
    @media screen and (min-width: 1440px) {
      margin: 2rem 9rem;
    }
  }
  &__flex-right h2 {
    padding: 1.1rem;
    font-size: larger;
    font-family: "Montserrat";
    font-weight: 600;
  }
}
.container_certification__flex-left {
  background: url("../../public/img/formations3.webp");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  height: 400px;
  @media screen and (min-width: 1408px) {
    margin: 0 140px;
  }
}
.container_certification__flex-left img {
  position: absolute;
  z-index: 1;
  top: 70px;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  @media screen and (max-width: 769px) {
    display: flex;
  }
}
.container_certification__flex-right h2 {
  margin: 8px;
  color: #3d3c3c;
  width: auto;
  @media screen and (max-width: 769px) {
    margin: 0px;
  }
}
.container:not(.is-max-desktop):not(.is-max-widescreen) {
  @media screen and (min-width: 1408px) {
    max-width: 1869px;
  }
}
.cont_formations {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  @media screen and (max-width: 1023px) {
    flex-direction: column;
  }
}
#img_container {
  @media screen and (max-width: 1023px) {
    order: 2;
  }
}
.flex_txt {
  @include displayMenus;
}
.flex_txt h3,
.flex_txt li {
  padding: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.flex_txt img {
  margin-bottom: 50px;
  border-radius: 10px;
  filter: drop-shadow(-28px -5px 23px #3d3c3c);
}
.flex_img {
  //width: 380px;
  //height: 420px;
  filter: grayscale(100%) drop-shadow(8px 8px 10px #3d3c3c);
  border-radius: 10px;
}
.flex_img_lowRes {
  width: 250px;
  height: auto;
}
// Ajustement visuel de certaintes images (seo-friendly)
#wide_img1,
#wide_img2 {
  aspect-ratio: 16 / 9;
  width: 100%;
  object-fit: cover;
}
#section_formations .column,
#section_formateurs .column {
  text-align: left;
  @media screen and (max-width: 768px) {
    text-align: center;
  }
}
#section_atouts .column,
#section_certifications .column {
  text-align: right;
  @media screen and (max-width: 768px) {
    text-align: center;
  }
}
#atouts {
  @media screen and (min-width: 1024px) {
    margin-left: 80px;
  }
  @media screen and (max-width: 1023px) {
    order: 1;
  }
}
.gg-arrow-long-right {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 4));
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  box-shadow: inset 0 0 0 2px;
  width: 24px;
  height: 6px;
  //@include animateArrow;
}
.gg-arrow-long-right::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 6px;
  height: 6px;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  right: 0;
  bottom: -2px;
}
.gg-arrow-long-left {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 4));
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  box-shadow: inset 0 0 0 2px;
  width: 24px;
  height: 6px;
  left: 99%;
  //@include animateArrow;
}
.gg-arrow-long-left::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 6px;
  height: 6px;
  border-bottom: 2px solid;
  border-left: 2px solid;
  transform: rotate(45deg);
  left: 0;
  bottom: -2px;
}
.gg-arrow-long-down {
  box-sizing: border-box;
  position: absolute;
  display: block;
  transform: scale(var(--ggs, 4));
  border-right: 2px solid transparent;
  border-left: 2px solid transparent;
  box-shadow: inset 0 0 0 2px;
  height: 24px;
  width: 6px;
  margin-left: 20px;
}

.gg-arrow-long-down::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 6px;
  height: 6px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  bottom: 0;
  left: -2px;
  @media screen and (min-width: 1072px) {
    width: 0;
    height: 0;
    border-bottom: 0;
  }
}
#rightArrow {
  box-sizing: border-box;
  position: absolute;
  display: block;
  transform: scale(var(--ggs, 4));
  border-right: 2px solid transparent;
  border-left: 2px solid transparent;
  box-shadow: inset 0 0 0 2px;
  height: 24px;
  width: 6px;
  right: 20px;
}
.footer_contact {
  display: block;
  color: #4a4a4a;
  padding-bottom: 20px;
}

.aipr img {
  border-radius: 10px;
}

.sst,
.certimetal {
  display: flex;
  align-items: center;
  margin-top: 50px;
  @media only screen and (max-width: 1024px) {
    flex-direction: column;
    justify-items: center;
  }
}

.sst img,
.certimetal img {
  border-radius: 10px;
}

.sst p,
.certimetal p {
  text-align: center;
  margin-left: 20px;
  font-size: 1.4rem;
  @media only screen and (max-width: 1024px) {
    margin-top: 20px;
  }
}

.habilitation {
  @media only screen and (min-width: 1024px) {
    margin-left: 50px;
  }
}

//     CATALOGUE.VUE        //

table {
  margin: 100px 30px;
}
.table {
  empty-cells: hide;
  border-collapse: separate;
}
.th-large {
  height: 150px;
}
th {
  width: 40px;
}
.th_blue-bg {
  background-color: #a3c3ce;
}
.th_orange-bg {
  background-color: #d89e5b;
}
#th_grey-bg {
  color: #fff;
  background-color: #6e6d6d;
}
#large {
  width: 400px;
  background-color: #a5a1a1;
}
.tarifs_table {
  margin: 20px;
  text-decoration: underline;
}
.table.is-hoverable tbody tr:not(.is-selected):hover {
  background-color: lighten(#267b8a, 10%);
  font-weight: bold;
  color: #fff;
}
@media only screen and (min-width: 785px) and (max-width: 950px) {
  .table {
    font-size: 0.7em;
  }
  .table td {
    padding: 0em;
    height: 80px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 784px) {
  .table {
    font-size: 0.7em;
    margin: 100px 5px;
  }
  .table td {
    padding: 0em;
    height: 80px;
  }
  .table th {
    padding: 0em;
    height: 80px;
  }
  .tarifs_table {
    text-align: center;
  }
  .lowRes_catalogue_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .lowRes_catalogue_txt,
  .lowRes_catalogue_btn {
    padding: 10px 20px;
    margin-bottom: 20px;
  }
}
.displayDownload {
  display: inline;
}

//     PROGRAMME.VUE        //

.prog_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  &__title {
    order: 2;
    margin-top: 30px;
    text-align: center;
    font-size: x-large;
    font-weight: 800;
  }
  &__title p {
    text-transform: uppercase;
  }
  &__img {
    order: 1;
    width: 12rem;
  }
}
.container_programme {
  flex-direction: column;
}
.prog_separator {
  border-top: 1px solid #000;
  margin: 0 auto;
  width: 50%;
  margin-top: 100px;
}
.navbar_programme {
  flex-direction: column;
  background-color: #fff;
  margin-top: 100px;
  line-height: 3em;
  text-align: center;
}
.navbar h3 {
  margin-bottom: 30px;
}
#bottomSeparator {
  margin-top: 70px;
}
#centre_formation,
#action_formation,
#calendrier {
  display: flex;
  flex-direction: row;
  margin: 200px;
  @media only screen and (max-width: 784px) {
    flex-direction: column;
    margin-left: 50px;
  }
}
.centre {
  &__left h4 {
    margin: 40px -50px 30px;
    text-transform: uppercase;
  }
  &__left h4 span {
    margin-right: 40px;
  }
  &__left li {
    list-style-type: disc;
    margin-left: 15px;
  }
  &__right {
    margin-top: 70px;
    margin-left: 40px;
  }
}
// Penser à retirer le display none en prod finale //
.programme_tarifs {
  margin: 20px;
  display: none;
}
.programme_tarifs li {
  list-style-type: none;
}
.programme_tarifs li:before {
  content: "\2014";
  position: absolute;
  margin-left: -20px;
}

//    BACKTOTOP   //

.back-to-top-btn {
  position: fixed;
  cursor: pointer;
  bottom: -100px;
  right: 20px;
  color: #ffffff;
  background-color: #6faeb9;
  z-index: 4;
  width: 45px;
  text-align: center;
  height: 45px;
  opacity: 0;
  visibility: hidden;
  border-radius: 50%;
  font-size: 22px;
  transition: 0.6s;
  overflow: hidden;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);

  i {
    position: absolute;
    right: 0;
    left: 0;
    top: 45%;
    transform: translateY(-45%);
    text-align: center;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  &.go-top {
    opacity: 1;
    visibility: visible;
    bottom: 50px;
  }
  &:hover {
    background-color: #6faeb9;
    color: #ffffff;
    transition: 0.6s;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    transform: translateY(-5px);
  }
}

//   SIGNUP    //

.form_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $blue_background;
  height: 80vh;
}

form {
  position: absolute;
  margin: 0 auto;
  background: #fff;
  border-radius: 20px;
  box-shadow: 5px 6px 5px;
  padding: 2rem;
  width: 550px;
  @media screen and (min-width: 320px) and (max-width: 375px) {
    top: 25%;
    width: 280px;
    padding: 1.2rem;
  }
  @media screen and (min-width: 376px) and (max-width: 425px) {
    width: 360px;
    padding: 1rem;
  }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    width: 420px;
    padding: 2rem;
  }
}
.form_header {
  text-align: center;
  margin-bottom: 50px;
}
.field {
  padding: 10px;
}
.field.is-grouped {
  justify-content: center;
}

//    CONTACT   //

.contact_locate {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact_locate hr {
  border: 2px solid #fff;
  width: 10%;
  height: 1px;
}
.contact_locate h1 {
  text-align: center;
}
.contact_map {
  margin: 50px 0;
  border: 3px solid #fff;
  border-radius: 5px;
  box-shadow: -10px 10px 0 hsla(0, 0%, 100%, 0.15),
    10px -10px 0 hsla(0, 0%, 100%, 0.15);
}
#map {
  //display: flex;
  height: 500px;
  width: 600px;
  @media screen and (min-width: 320px) and (max-width: 375px) {
    width: 280px;
    height: 240px;
  }
  @media screen and (min-width: 376px) and (max-width: 425px) {
    width: 360px;
    height: 340px;
  }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    width: 420px;
    height: 400px;
  }
}

// LEGALS //

.legals {
  margin: 50px 0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: -10px 10px 0 hsla(0, 0%, 100%, 0.15),
    10px -10px 0 hsla(0, 0%, 100%, 0.15);
}
